.colortitulo1{
    background-color: darkgreen;
}
.colortitulo2{
    background-color: deepskyblue;
}
.imagenfondo{
    background-image: url(img/MEDELLIN.jpg);
    height: 800px;
    background-attachment: fixed;
}
.textorojo{
    color: firebrick;
}